<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sudokugame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SudokuGame">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.sudokugame.GameActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewBoardActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.sudokugame.NewBoardActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.sudokugame.InstructionsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseNumberActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.sudokugame.ChooseNumberActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameDifficultyActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.sudokugame.GameDifficultyActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>